<div class="white-box" style="text-align: center;">
    <button class="btn btn-info" (click)="openAddDialog()" style="width:50%;"> Add a new Product</button>
</div>
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div class="white-box">
            <div class="d-md-flex mb-3">
                <h3 class="box-title mb-0">Products</h3>
                <div class="col-md-3 col-sm-4 col-xs-6 ms-auto">
                    <select class="form-select shadow-none row border-top">
                        <option>March 2021</option>
                        <option>April 2021</option>
                        <option>May 2021</option>
                        <option>June 2021</option>
                        <option>July 2021</option>
                    </select>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table no-wrap">
                    <thead>
                        <tr>
                            <th class="border-top-0">#</th>
                            <th class="border-top-0">Logo</th>
                            <th class="border-top-0">Name</th>
                            <th class="border-top-0">Quantity</th>
                            <th class="border-top-0">Unit Price</th>
                            <th class="border-top-0">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of datas">
                            <td>{{data.index}}</td>
                            <td class="txt-oflo"><img width="50px" height="50px"
                                    [src]="data.logo">
                            </td>
                            <td>{{data.name}}</td>
                            <td class="txt-oflo">{{data.quantity}}</td>
                            <td><span class="text-success">{{data.unitprice}}TD</span></td>
                            <td>
                                <div>
                                    <a (click)="openEditDialog(data)"><i class="fa fa-pencil-alt" style="margin-right: 5px;color:#f8c218;"></i></a>
                                    <a (click)="openDeleteDialog(data)"><i class="fa fa-trash-alt" style="color:#f85f18;"></i></a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>