<div class="dialog-header accent-background">
    <span class="dialog-header-title">Product Details</span>
    <hr>
</div>
<div class="dialog-content">
    <div class="row">
        <div class="col-4">
            <img width="200px" [src]="data.product.logo">
        </div>
        <div class="col-8">
            <h1>{{data.product.name}}</h1>
            <p>{{data.product.description}}</p>
            <h2>In Stock: {{data.product.quantity}} pieces</h2>
            <h2>unitprice: {{data.product.unitprice}} TND</h2>
            
            <h2>Quantity: </h2><input type="number" [(ngModel)]="quantity" min="1" [max]="data.product.quantity">
        </div>
    </div>   
</div>
<div class="dialog-footer">
    <button (click)="addToCart()" class="btn btn-info" style="width:40%;" mat-raised-button [mat-dialog-close]="true">Add to Cart</button>
</div>