<div class="dialog-header accent-background">
    <span class="dialog-header-title">Ban User</span>
    <hr>
</div>
<div class="dialog-content">
    <h3>Are you sure you want to ban this user:</h3>
    <p>User id : {{data.user.index}}</p>
    <p>User First name : {{data.user.firstname}}</p>
    <p>User Last name : {{data.user.lastname}}</p>    
</div>
<div class="dialog-footer">
    <button class="btn btn-warning" style="width:40%; margin-right: 5%;" mat-raised-button [mat-dialog-close]="false">cancel</button>
    <button class="btn btn-info" style="width:40%;" mat-raised-button [mat-dialog-close]="true">proceed</button>
</div>
