<div class="dialog-header accent-background">
    <span class="dialog-header-title">Ban Store</span>
    <hr>
</div>
<div class="dialog-content">
    <h3>Are you sure you want to ban this store:</h3>
    <p>Store id : {{data.store.index}}</p>
    <p>Store name : {{data.store.name}}</p>
    <p>Store Description : {{data.store.description}}</p>    
</div>
<div class="dialog-footer">
    <button class="btn btn-warning" style="width:40%; margin-right: 5%;" mat-raised-button [mat-dialog-close]="false">cancel</button>
    <button class="btn btn-info" style="width:40%;" mat-raised-button [mat-dialog-close]="true">proceed</button>
</div>
